img {
  width: 400px;
  height: auto;
}
body {
  background-color: darkcyan;
}

h1 {
  font-size: 70px;

  color: aqua;
}
h2 {
  font-size: 70px;
  color: aqua;
}
h3 {
  font-size: 70px;
  color: aqua;
}

p {
  font-size: larger;
}
a {
  font-size: 70px;
}
